
<div class="container mt-4 ">
  <owl-carousel-o [options]="customOptions">
    <ng-container *ngFor="let slide of topDeals">
      <ng-template carouselSlide [id]="slide.id"><div class="card rounded-3 shadow-sm" style="width: 15rem;">
        <img [src]="slide.productImageSlug[0]" class="card-img-top" alt="..." height="200" width="150">
        <div class="card-body m-2 " style="height: 200px;">
          <h5 class="card-title">{{slide.type}}</h5>
          <p class="card-text">{{slide.description}}</p>
          <h6 class="card-text">MRP ₹ {{slide.actualPrice}}</h6>
          <p class="card-text">MRP ₹&nbsp; <span class="me-2 text-decoration-line-through" *ngIf="slide.actualPrice != slide.discountPrice">{{slide.actualPrice}}</span> {{slide.discountPrice}}<button type="button" class="btn btn-outline-primary ms-4 btn-sm" (click)="addToCart(slide)">ADD</button></p>
        </div>
      </div>
    </ng-template>
  </ng-container>

</owl-carousel-o>
</div>




